.uk-container {


background-image : url(./images/DSC02829.JPG)
}

html *
{
   font-family: 'Lato',sans-serif
}
.uk-logo
{
    font-family: 'Caveat Brush', cursive;
}
.uk-offcanvas-bar
{
    background-color: rgb(8, 31, 17);
}


