body{
    background:url('./images/24273923_876302082538498_2186725637735477533_o.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}